<footer class="footer-style">
    <div class="footer-menu">
        <ul class="logoMs-container">
            <img class= "footer-profile-img" src="/MsPics/perfilMs.jpg" alt="">
            <span class="text-brand">Metalúrgica Saénz </span>
        </ul>
        <ul>            
            <a href=> 
                <i class="fa fa-file"></i>
                Escribinos a: msherreriaindustrial<br>@gmail.com
            </a>
        </ul>
        <ul>
            <a href="https://www.google.com/maps/dir/-34.5205675,-58.5658106/Colonia+577,+B1667JVK+Tortuguitas,+Provincia+de+Buenos+Aires/@-34.4868475,-58.745556,12z/data=!3m1!4b1!4m10!4m9!1m1!4e1!1m5!1m1!1s0x95bc9860fbdb8cd5:0xecdaa566e8729757!2m2!1d-58.758275!2d-34.4879644!3e0?entry=ttu" target="_blank">
                <i class="fas fa-map-marker-alt icono-maps"></i>
                Direccion: <br> Colonia 577, Tortuguitas
              </a>
         </ul>
        <ul class="social-media-navbar">
            <li><a href="https://www.facebook.com/media/set/?set=a.104122700311797&type=3"><i class="fa-brands fa-facebook"></i></a></li>
            <li><a href="https://api.whatsapp.com/send?phone=1140855703" target="_blank"></a><i class="fa-brands fa-whatsapp"></i></a></li>
        </ul>   
        <ul class="social-media-navbar"> 

            <li><a href="mailto:msherreriaindustrial@gmail.com"><i class="far fa-envelope"></i></a></li>
            <li><a href="https://www.instagram.com/metalurgicasaenz?igsh=MTZqc2p6a2NxZGI5Zg=="><i class="fab fa-instagram"></i></a></li>
        </ul>
    </div>
</footer>