<header>
    <div class="brand">
        <a href="#">
            <img src="/MsPics/perfilMs.jpg" alt="">
        </a>
    </div>
    <nav class="navbar">

         <ul class="nav-menu">
            <li class="item"><a href="/">Home</a></li>
            <li class="item"><a href="/gallery">Compras</a></li>
            <li class="item"><a href="/contact">Contactanos!</a></li>
            <li class="item">
                <a href="https://www.google.com/maps/dir/-34.5205675,-58.5658106/Colonia+577,+B1667JVK+Tortuguitas,+Provincia+de+Buenos+Aires/@-34.4868475,-58.745556,12z/data=!3m1!4b1!4m10!4m9!1m1!4e1!1m5!1m1!1s0x95bc9860fbdb8cd5:0xecdaa566e8729757!2m2!1d-58.758275!2d-34.4879644!3e0?entry=ttu" target="_blank">
                    Maps  <i class="fa-regular fa-map"></i>
                </a>
            </li> 
        </ul>
    </nav>
    
</header>
