<header>
    <nav class="navbar">
        <div class="brand"><a href="#"><img src="/images/MsPics/perfilMs.jpg" alt=""></a></div>
        <ul>            
            <div class="hamburger-icon"><a href="#"><i class="fa-solid fa-bars"></i></a></div>
        </ul>
        <ul id="nav-menu"  class="nav-menu">
            <li class="item"><a href="/">Home</a></li>
            <li class="item"><a href="/gallery">Galeria de fotos</a></li>
            <li class="item"><a href="/contact">Contactanos!</a></li>
        </ul>
        <ul class="desktop-option">

            <li class="sign">
                <a href="https://www.google.com/maps/dir/-34.5205675,-58.5658106/Colonia+577,+B1667JVK+Tortuguitas,+Provincia+de+Buenos+Aires/@-34.4868475,-58.745556,12z/data=!3m1!4b1!4m10!4m9!1m1!4e1!1m5!1m1!1s0x95bc9860fbdb8cd5:0xecdaa566e8729757!2m2!1d-58.758275!2d-34.4879644!3e0?entry=ttu" target="_blank">
                    Buscanos con Google Maps  <i class="fa-regular fa-map"></i>
                </a>
            </li>
                    </ul>
    </nav>
</header>