 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
 }
 h1{
    text-align: center;
 }
 .productos-container {
    display: flex;
    flex-wrap: wrap;
}

.fila {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 20px;
}
body{
    background-color: rgb(243, 243, 243);
}

.producto {
    width:fit-content; /* 33.33% para tres productos por línea, restamos el espacio entre ellos */
    margin-right: 10px; /* Reducimos el margen derecho para acercar las imágenes */
    background-color: rgb(255, 255, 255);
    padding: 10px;
    box-shadow: 0px 0px 5px 0px;
    background-color: rgb(214, 219, 221);
    border-radius: 20px;
}
.contenedor-imagen-y-comprar {
    display: flex;
    align-items: center; /* Alinear elementos verticalmente */
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
}


.productName{
    color: #e7a01c;
}
.imgFromGallery {
    flex: 0 0 auto; /* La imagen no se expandirá para ocupar todo el espacio disponible */
    margin-right: 10px; /* Espacio entre la imagen y el botón */
    width:  320px;
    height: auto;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
    border: 2px solid black;
    
}

.imgFromGallery img {
    width:  320px;
    height: 340px;

}
.enlace-comprar {
    flex: 0 0 auto; /* El botón no se expandirá para ocupar todo el espacio disponible */
    padding: 10px 20px;
    background-color: orange;
    color: white;
    border-radius: 10px;
    text-decoration: none;
    border: 2px solid black;
}

/* Cambiar color del texto al pasar el cursor */
.enlace-comprar:hover {
    color: black; /* Cambiar texto a negro al pasar el cursor */
}