*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--black-mate);
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
 
}

.imgGallery {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8); 
  margin: 10px; 
  width: 20%; /* Ajusta el ancho al 100% del contenedor */
}
.pictureContainer {
  display: flex;
  flex-direction: row; /* Cambia a fila en lugar de columna */
  gap: 5px; /* Espaciado entre las imágenes (puedes ajustar según tus necesidades) */
  width: 100%; /* O ajusta el ancho según tus necesidades */
  border-top:#F3AD2B  solid 5px;
  border-bottom:#F3AD2B  solid 5px;
  justify-content: center;
  align-items: flex-end;
}

