:root{
    --main-colour: #F3AD2B;
    --black-mate: #333;
    --gray-border: #d2d2d7;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--black-mate);
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
   
}

html{
    font-size: 12px; /*Para usar rem o en*/
}
/* header */

header {
    position: relative;
    width: 100%;
    height: 110px;
    background-color: black;
}

/*Navbar*/

.navbar{
    justify-content: space-between;
    text-align: center; 
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .item a{
    margin: 0 15px;
    padding: 0 10px;
    color: #F3AD2B;
    font-weight: 500;
   
    
}
.navbar .item i{
color:white;
}
.navbar {
    overflow: hidden;
    display: flex;
}
.navbar a{

font-size: 18px;
}
.brand img{
    width: 110px;
}
.brand {
    float: left; /* Añade esta regla para posicionar el logotipo a la izquierda */
}

nav ul{
    align-items: center;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

a{
    text-decoration: none;
    color: white;
    display: flex;
    align-content: center;
    justify-content: space-between;

}



.main{
    display: flex;
    flex-direction: column;
}

/*Footer*/

.footer-style{
    margin-top: 70px;
    background-color: var(--main-colour);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    font-weight: 400;  
}
.footer-style ul{
flex-wrap: wrap;
}
.footer-menu{
    display: flex;
    align-items: center;
}

.footer-menu ul{
    text-align: center;
    color: white;
    margin: 15px 0;
}
.footer-profile-img{
width: 150px;
}
.text-brand{
    font-size: 52px;
    font-weight: 900;
    text-align: center;
    color: black;
}


.social-media-navbar i{
    font-size: 32px;
    margin: 0 15px;
    display: inline-flex;
}






/*Menu*/

main{
    margin: auto;
}

.section-main{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}


.top{
    width: 100%;
    display: flex;
    align-items: center;  
    height: 12%;
    justify-content: space-between;
    background-color: orange;
}

img{
    width: 35%;
    border-radius: 13%;
}
.center{
    display: flex;
    flex-direction: column;
    justify-content: space-between;}

.custom-icon{
    text-align: center;
    font-size: 15px; 
    margin: 0; 
}

.sub{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #F3AD2B;
    border-top: 1px solid #F3AD2B;
    height: 50px;
}
.social-media-navbar{
    display: flex;
}
.social-media-navbar i{
    font-size: 22px;
}
a{
    font-size: 14px;
    display: flex;
    align-content: center;
    justify-content: space-between;

}

@media (max-width: 768px ) {  

    .brand img{
        width: 100px;
        margin-left: 5px;
        margin-top: 5px; 
               
    }
    
    div.brand, li.shop{
        margin-right: 0px;
        
    }
    .nav-menu{
        display: flex;
    }

    .navbar .item a{
        margin: 0 15px;
        padding: 0 10px;
        color: #F3AD2B;
        font-weight: 500;
       
        
    }

    .navbar{
        display: flex;
    }


    /*Footer*/
    .footer-style .footer-menu{
        width: 100%;
        display: flex;
        justify-content:space-around;
        align-items: center;
    }

    .footer-style ul{
        max-width: 200px; 
        flex-wrap: wrap;
    }

    .footer-profile-img {
        width: 100px;
        height: 100px;
    }
    .text-brand{
        font-size:large;

    }
    a{
        font-size: 14px;
        display: flex;
        align-content: center;
        justify-content: space-between;
        
    
    }
}
@media (max-width: 599px) {
    .nav-menu {
        display: flex;
        align-items: center; /* Centra verticalmente los elementos */
        width: 100%; /* Ajusta el ancho de la barra de navegación según tus necesidades */
        margin: 0 auto; /* Centra horizontalmente la barra de navegación */
        flex-wrap: wrap;

    }
    .navbar{
        display: flex;
    }
    .nav-menu a{
        padding: 10px; /* Ajusta el relleno para hacer los enlaces más fáciles de hacer clic */
    text-decoration: none;
    color: black; /* Color del texto del enlace */
    }
    .navbar .item a{
        font-size: small;
    }
    a{
        font-size: 12px;
        display: flex;
        flex-direction: column;
    
    }
    .navbar{
        flex-grow: 1; /* El menú ocupará todo el espacio restante */
    }
    .brand {
        flex: 0 0 auto; /* El div de la marca ocupará solo el espacio necesario */
    }
    
    .brand img{
        width: 90px;
        margin-left: 5px;
        margin-top: 5px;
    }

    .logoMs-container img{
        width: 80px;
        margin-left: 40px;

    }
    .text-brand{
        font-size: 25px;
  
    }
    .nav-menu .item {
        margin: 0; /* Elimina el margen de los elementos del menú */
    }
    
    /*Footer*/
    .footer-style .footer-menu{
        width: 100%;
        display: flex;
        justify-content:space-around;
        align-items: center;
    }

    .footer-style ul{
        max-width: 200px; 
        flex-wrap: wrap;
    }

    .footer-style span{
        max-width: 160px;
    } 
    .social-media-navbar i {
        font-size: 18px; /* Tamaño deseado para los iconos */
        flex-wrap: wrap;
        display: flex;
    }
}    

