<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/homeStyles.css">
    <title>Home Page</title>
    <%- include('../../partials/head') %>

</head>
<%- include('../../partials/header') %>
<body>
    <div class="info-form">
        <h1 style="text-align: center;">Queremos escucharte!</h1>
        <h2>Dejanos tu consulta así nos ponemos en contacto con vos...</h2>
        </div>
        <form method="POST" action="/contacts" class="formulario">

        <input type="text" name="name" placeholder="Nombre:" class="campo">
        <input type="text" name="message" placeholder="Tu mensaje" class="campo">
        <input type="number" name="phone" placeholder="Tu número de teléfono / celular" class="campo">
        <input type="email" name="email" placeholder="E-Mail:" class="campo">
        <input type="submit" name="send" value="Enviar" class="btn-enviar"><br/>
    </form>

        
</body>
<footer>
    <%- include('../../partials/footer') %>

</footer>
</html>