<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/homeStyles.css">
    <title>Home Page</title>
    <%- include('../../partials/head') %>

</head>
<%- include('../../partials/header') %>
<body>
    <h1> Herrería MS</h1>
    <h3>Somos Herrería MS. Somos una pyme que nació en el año 2011 y nos mantenemos hace 11 años en el mercado ofreciendo
    soluciones en todo aquello referido a la herrería de obra e industrial con la mejor calidad y el mejor servicio. 

    Conocé nuestro trabajo!</h3>

    <div class="pictureContainer">
        <h1>Herrería de obra...</h1>
        <div>
        <div class="pictureContainer">
                <img class="imgGallery" src="/images/chiqui/herrería de obra.jpg" alt="">
                <p><a href="https://api.whatsapp.com/send?phone=1123456789" target="_blank"></a>Contactanos!</p>
              
                <img  class="imgGallery"  src="/images/chiqui/herrería de obra 1.jpg" alt="">
                <p><a href="https://api.whatsapp.com/send?phone=1123456789" target="_blank"></a>Contactanos!</p>
            
                <img   class="imgGallery" src="/images/chiqui/herrería de obra 2.jpg" alt="">
                <p><a href="https://api.whatsapp.com/send?phone=1123456789" target="_blank"></a>Contactanos!</p>
            </div>
        </div>
    </div>
    <div class="pictureContainer">
        <h1> ...y a pedido...</h1>
        <div>
        <div class="pictureContainer">
                <img class="imgGallery" src="/images/chiqui/produccion.jpg" alt="">
                <p><a href="https://api.whatsapp.com/send?phone=1123456789" target="_blank"></a>Contactanos!</p>
              
                <img  class="imgGallery" src="/images/chiqui/produccion1.jpg"  alt="">
                <p><a href="https://api.whatsapp.com/send?phone=1123456789" target="_blank"></a>Contactanos!</p>
            
                <img class="imgGallery"  src="/images/chiqui/produccion2.jpg"  alt="">
                <p><a href="https://api.whatsapp.com/send?phone=1123456789" target="_blank"></a>Contactanos!</p>
            </div>
        </div>
    </div>

</body>
<footer>
    <%- include('../../partials/footer') %>

</footer>
</html>